*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --skin: rgb(248, 207, 190);
    --bluegrady: rgb(131, 236, 255);
    --hair: rgb(103, 74, 53);
    --blood: rgb(168, 3, 3);
    --floor: #3B2C1D;
    --bluefloor: #222247;
    --wall:  #E6D08E;
    --door: #CCB97E;
}
body, html {
    height: 100%;
}
body {
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: perspective(600px);
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

.door {
    width: 300px;
    height: 930px;
    background-color: var(--door);
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
}
.door img {
    margin: 100px 25px;

}


.leftWall {
    position: absolute;
    left: 0;
    top: 0;
    height: 100vh;
    width: 55%;
    background: var(--wall);
    clip-path: polygon(0 0%, 80% 0%, 100% 100%, 0% 100%);
}
.leftWall::before{
    content: url("data:image/svg+xml,%3Csvg width='100%25' height='100%25' viewBox='0 0 482 182' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xml:space='preserve' xmlns:serif='http://www.serif.com/' style='fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;'%3E%3Cg id='path2987-7' transform='matrix(1,0,0,1,858.464,-587.675)'%3E%3Cpath d='M-425.431,750.412C-427.694,738.087 -428.514,741.288 -425.503,728.896C-422.492,716.504 -417.908,704.017 -417.798,692.193C-417.688,680.37 -422.892,657.999 -430.087,654.181C-437.282,650.362 -437.096,651.506 -443.867,651.093C-450.638,650.68 -453.758,650.947 -457.623,655.346C-461.488,659.744 -464.154,665.599 -465.567,675.041C-466.98,684.483 -465.597,701.783 -463.208,708.161C-460.818,714.539 -459.474,714.998 -462.189,723.101C-464.904,731.204 -477.896,733.026 -482.731,725.955C-487.565,718.883 -487.033,708.067 -484.264,691.242C-481.496,674.418 -482.006,676.65 -482.054,664.048C-482.102,651.446 -481.069,652.617 -483.334,648.209C-485.599,643.801 -493.028,638.513 -500.199,642.522C-507.369,646.531 -511.857,663.851 -512.816,670.622C-513.775,677.393 -513.696,695.096 -512.455,701.58C-511.214,708.064 -511.144,714.414 -513.06,719.128C-514.975,723.841 -517.031,726.507 -520.23,727.728C-523.429,728.95 -526.649,729.123 -530.358,726.831C-534.066,724.539 -538.533,721.993 -539.067,710.002C-539.602,698.012 -535.414,670.181 -537.009,656.375C-538.24,645.669 -540.712,642.066 -546.244,645.751C-550.175,648.352 -553.449,655.131 -551.101,661.784C-548.752,668.437 -548.33,670.192 -548.373,674.806C-548.415,679.42 -549.457,682.845 -552.73,686.365C-556.003,689.885 -560.987,691.316 -565.523,688.233C-570.06,685.151 -572.246,678.285 -569.787,669.913C-567.328,661.542 -559.727,658.298 -568.058,650.686C-576.389,643.075 -582.983,652.372 -583.197,666.335C-583.411,680.299 -582.437,689.308 -579.642,698.866C-576.847,708.424 -575.526,713.519 -575.526,721.544C-575.526,729.57 -580.612,737.692 -588.324,736.823C-596.037,735.953 -601.04,721.069 -603.005,710.62C-604.97,700.171 -604.844,701.801 -605.523,699.365C-606.202,696.93 -606.807,694.331 -607.171,689.802C-608.948,676.771 -602.506,663.851 -602.421,652.723C-602.421,646.155 -601.663,644.216 -605.183,640.418C-608.704,636.619 -624.494,646.519 -628.56,657.473C-632.626,668.428 -632.504,668.408 -632.152,683.35C-631.801,698.292 -630.377,708.464 -627.067,717.839C-623.758,727.213 -623.203,734.302 -623.838,737.562C-624.473,740.822 -624.457,740.693 -625.151,745.91C-625.844,751.127 -629.063,756.682 -631.954,758.26C-635.872,760.246 -640.188,758.588 -642.417,756.436C-644.866,754.045 -647.792,748.025 -649.165,742.522C-650.538,737.018 -650.483,733.979 -650.498,726.505C-650.513,719.031 -650.177,711.713 -649.759,706.782C-649.34,701.851 -648.94,694.948 -648.669,681.679C-648.399,668.411 -649.118,662.491 -652.271,651.902C-655.424,641.312 -655.739,642.251 -659.411,638.451C-663.083,634.651 -665.037,633.566 -667.986,633.568C-670.936,633.57 -676.536,636.543 -679.264,639.424C-681.992,642.304 -684.817,647.584 -687.267,654.956C-689.717,662.328 -689.966,664.314 -686.944,677.735C-683.922,691.156 -683.487,693.974 -685.515,705.236C-687.543,716.498 -692.733,722.022 -700.314,722.022C-707.896,722.022 -712.516,718.699 -714.812,714.198C-717.108,709.698 -718.543,702.071 -718.185,696.92C-717.828,691.769 -716.232,681.286 -715.367,678.652C-714.501,676.018 -712.553,664.047 -712.058,657.945C-711.563,651.843 -712.5,646.948 -715.458,641.727C-718.417,636.507 -720.099,634.609 -722,633.452C-726.845,630.999 -731.492,635.892 -733.606,638.027C-737.454,641.926 -741.192,648.352 -742.6,652.689C-744.008,657.025 -743.578,657.015 -742.934,664.642C-742.29,672.269 -742.179,673.104 -743.122,681.679C-744.065,690.255 -744.728,693.479 -747.299,696.97C-749.87,700.46 -751.257,701.701 -757.02,701.701C-762.784,701.701 -769.485,695.012 -770.697,689.199C-771.909,683.386 -769.315,673.641 -767.608,665.779C-765.901,657.916 -766.632,645.716 -767.933,641.771C-771.904,628.629 -779.759,632.551 -784.079,640.576C-789.251,647.966 -789.57,671.774 -787.567,680.484C-785.564,689.194 -786.923,700.266 -787.989,705.279C-789.054,710.292 -792.184,717.629 -794.996,720.648C-797.809,723.666 -805.625,725.304 -809.672,723.068C-813.72,720.833 -817.787,716.181 -819.42,711.462C-821.053,706.744 -820.847,698.112 -819.146,694.295C-817.444,690.477 -811.562,682.789 -810.708,671.058C-809.853,659.327 -815.548,654.024 -816.155,652.442C-816.763,650.86 -818.624,651.379 -820.704,653.471C-828.309,662.541 -826.401,672.689 -826.545,678.204C-826.952,692.877 -822.671,717.844 -822.44,727.642C-822.209,737.439 -824.093,740.427 -825.905,745.273C-827.716,750.119 -829.34,752.67 -833.481,755.31C-837.621,757.95 -843.682,760.638 -848.017,758.662C-852.353,756.687 -853.099,758.761 -857.072,747.381C-861.045,736 -855.526,713.366 -852.841,705.288C-850.156,697.209 -848.637,694.294 -847.515,686.895C-846.394,679.497 -845.09,666.285 -845.085,648.938C-845.079,631.591 -844.439,632.092 -846.588,627.422C-848.737,622.752 -851.266,612.062 -848.454,607.065C-845.641,602.068 -838.082,597.643 -831.988,595.739C-825.895,593.836 -820.517,594.476 -795.77,594.374C-771.024,594.272 -766.317,594.568 -756.324,593.55C-746.33,592.532 -727.168,593.274 -710.004,590.594C-692.839,587.914 -654.066,587.082 -644.857,588.088C-635.647,589.095 -639.981,588.663 -623.938,589.932C-607.896,591.2 -599.742,591.761 -585.388,593.194C-571.034,594.626 -526.357,596.235 -481.093,597.104C-435.83,597.973 -454.817,597.643 -443.44,596.638C-432.062,595.633 -396.743,595.752 -391.741,596.517C-386.739,597.283 -389.04,596.276 -384.105,597.671C-379.17,599.066 -375.315,605.306 -377.437,611.266C-379.559,617.226 -381.004,620.344 -384.547,624.994C-388.091,629.644 -391.734,642.726 -394.483,664.645C-397.231,686.565 -395.751,724.025 -392.969,736.666C-390.187,749.306 -393.072,758.716 -397.532,762.988C-401.991,767.259 -396.626,765.085 -404.26,768.091C-411.894,771.098 -423.168,762.737 -425.431,750.412L-425.431,750.412Z' style='fill:rgb(168, 3, 3);fill-rule:nonzero;'/%3E%3C/g%3E%3C/svg%3E");
    position: absolute;
    top: 0;
    left: -200px;
    height: 30px;
    width: 100%;
    background-color: var(--blood);
    padding-top: 20%;
    animation: bleeding 100s linear infinite;
}

.rightWall {
    position: absolute;
    right: 0;
    top: 0;
    height: 100vh;
    width: 60%;
    background: var(--wall);
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
}
.rightWall::before{
    content: url("data:image/svg+xml,%3Csvg width='100%25' height='100%25' viewBox='0 0 482 182' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xml:space='preserve' xmlns:serif='http://www.serif.com/' style='fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;'%3E%3Cg id='path2987-7' transform='matrix(1,0,0,1,858.464,-587.675)'%3E%3Cpath d='M-425.431,750.412C-427.694,738.087 -428.514,741.288 -425.503,728.896C-422.492,716.504 -417.908,704.017 -417.798,692.193C-417.688,680.37 -422.892,657.999 -430.087,654.181C-437.282,650.362 -437.096,651.506 -443.867,651.093C-450.638,650.68 -453.758,650.947 -457.623,655.346C-461.488,659.744 -464.154,665.599 -465.567,675.041C-466.98,684.483 -465.597,701.783 -463.208,708.161C-460.818,714.539 -459.474,714.998 -462.189,723.101C-464.904,731.204 -477.896,733.026 -482.731,725.955C-487.565,718.883 -487.033,708.067 -484.264,691.242C-481.496,674.418 -482.006,676.65 -482.054,664.048C-482.102,651.446 -481.069,652.617 -483.334,648.209C-485.599,643.801 -493.028,638.513 -500.199,642.522C-507.369,646.531 -511.857,663.851 -512.816,670.622C-513.775,677.393 -513.696,695.096 -512.455,701.58C-511.214,708.064 -511.144,714.414 -513.06,719.128C-514.975,723.841 -517.031,726.507 -520.23,727.728C-523.429,728.95 -526.649,729.123 -530.358,726.831C-534.066,724.539 -538.533,721.993 -539.067,710.002C-539.602,698.012 -535.414,670.181 -537.009,656.375C-538.24,645.669 -540.712,642.066 -546.244,645.751C-550.175,648.352 -553.449,655.131 -551.101,661.784C-548.752,668.437 -548.33,670.192 -548.373,674.806C-548.415,679.42 -549.457,682.845 -552.73,686.365C-556.003,689.885 -560.987,691.316 -565.523,688.233C-570.06,685.151 -572.246,678.285 -569.787,669.913C-567.328,661.542 -559.727,658.298 -568.058,650.686C-576.389,643.075 -582.983,652.372 -583.197,666.335C-583.411,680.299 -582.437,689.308 -579.642,698.866C-576.847,708.424 -575.526,713.519 -575.526,721.544C-575.526,729.57 -580.612,737.692 -588.324,736.823C-596.037,735.953 -601.04,721.069 -603.005,710.62C-604.97,700.171 -604.844,701.801 -605.523,699.365C-606.202,696.93 -606.807,694.331 -607.171,689.802C-608.948,676.771 -602.506,663.851 -602.421,652.723C-602.421,646.155 -601.663,644.216 -605.183,640.418C-608.704,636.619 -624.494,646.519 -628.56,657.473C-632.626,668.428 -632.504,668.408 -632.152,683.35C-631.801,698.292 -630.377,708.464 -627.067,717.839C-623.758,727.213 -623.203,734.302 -623.838,737.562C-624.473,740.822 -624.457,740.693 -625.151,745.91C-625.844,751.127 -629.063,756.682 -631.954,758.26C-635.872,760.246 -640.188,758.588 -642.417,756.436C-644.866,754.045 -647.792,748.025 -649.165,742.522C-650.538,737.018 -650.483,733.979 -650.498,726.505C-650.513,719.031 -650.177,711.713 -649.759,706.782C-649.34,701.851 -648.94,694.948 -648.669,681.679C-648.399,668.411 -649.118,662.491 -652.271,651.902C-655.424,641.312 -655.739,642.251 -659.411,638.451C-663.083,634.651 -665.037,633.566 -667.986,633.568C-670.936,633.57 -676.536,636.543 -679.264,639.424C-681.992,642.304 -684.817,647.584 -687.267,654.956C-689.717,662.328 -689.966,664.314 -686.944,677.735C-683.922,691.156 -683.487,693.974 -685.515,705.236C-687.543,716.498 -692.733,722.022 -700.314,722.022C-707.896,722.022 -712.516,718.699 -714.812,714.198C-717.108,709.698 -718.543,702.071 -718.185,696.92C-717.828,691.769 -716.232,681.286 -715.367,678.652C-714.501,676.018 -712.553,664.047 -712.058,657.945C-711.563,651.843 -712.5,646.948 -715.458,641.727C-718.417,636.507 -720.099,634.609 -722,633.452C-726.845,630.999 -731.492,635.892 -733.606,638.027C-737.454,641.926 -741.192,648.352 -742.6,652.689C-744.008,657.025 -743.578,657.015 -742.934,664.642C-742.29,672.269 -742.179,673.104 -743.122,681.679C-744.065,690.255 -744.728,693.479 -747.299,696.97C-749.87,700.46 -751.257,701.701 -757.02,701.701C-762.784,701.701 -769.485,695.012 -770.697,689.199C-771.909,683.386 -769.315,673.641 -767.608,665.779C-765.901,657.916 -766.632,645.716 -767.933,641.771C-771.904,628.629 -779.759,632.551 -784.079,640.576C-789.251,647.966 -789.57,671.774 -787.567,680.484C-785.564,689.194 -786.923,700.266 -787.989,705.279C-789.054,710.292 -792.184,717.629 -794.996,720.648C-797.809,723.666 -805.625,725.304 -809.672,723.068C-813.72,720.833 -817.787,716.181 -819.42,711.462C-821.053,706.744 -820.847,698.112 -819.146,694.295C-817.444,690.477 -811.562,682.789 -810.708,671.058C-809.853,659.327 -815.548,654.024 -816.155,652.442C-816.763,650.86 -818.624,651.379 -820.704,653.471C-828.309,662.541 -826.401,672.689 -826.545,678.204C-826.952,692.877 -822.671,717.844 -822.44,727.642C-822.209,737.439 -824.093,740.427 -825.905,745.273C-827.716,750.119 -829.34,752.67 -833.481,755.31C-837.621,757.95 -843.682,760.638 -848.017,758.662C-852.353,756.687 -853.099,758.761 -857.072,747.381C-861.045,736 -855.526,713.366 -852.841,705.288C-850.156,697.209 -848.637,694.294 -847.515,686.895C-846.394,679.497 -845.09,666.285 -845.085,648.938C-845.079,631.591 -844.439,632.092 -846.588,627.422C-848.737,622.752 -851.266,612.062 -848.454,607.065C-845.641,602.068 -838.082,597.643 -831.988,595.739C-825.895,593.836 -820.517,594.476 -795.77,594.374C-771.024,594.272 -766.317,594.568 -756.324,593.55C-746.33,592.532 -727.168,593.274 -710.004,590.594C-692.839,587.914 -654.066,587.082 -644.857,588.088C-635.647,589.095 -639.981,588.663 -623.938,589.932C-607.896,591.2 -599.742,591.761 -585.388,593.194C-571.034,594.626 -526.357,596.235 -481.093,597.104C-435.83,597.973 -454.817,597.643 -443.44,596.638C-432.062,595.633 -396.743,595.752 -391.741,596.517C-386.739,597.283 -389.04,596.276 -384.105,597.671C-379.17,599.066 -375.315,605.306 -377.437,611.266C-379.559,617.226 -381.004,620.344 -384.547,624.994C-388.091,629.644 -391.734,642.726 -394.483,664.645C-397.231,686.565 -395.751,724.025 -392.969,736.666C-390.187,749.306 -393.072,758.716 -397.532,762.988C-401.991,767.259 -396.626,765.085 -404.26,768.091C-411.894,771.098 -423.168,762.737 -425.431,750.412L-425.431,750.412Z' style='border-radius: 40px; fill:rgb(168, 3, 3);fill-rule:nonzero;'/%3E%3C/g%3E%3C/svg%3E");
    position: absolute;
    top: 0;
    left: 280px;
    right: 0;
    height: 30px;
    width: 100%;
    background-color: var(--blood);
    padding-top: 20%;
    borde-radius: 50%;
    animation: bleeding 120s linear infinite;
}

.corridor {
    position: absolute;
    bottom: 0;
    left: 50%;
    right: 50%;
    transform: translate(-50%,50%);
    width: 90vw;
    height: 80%;
    max-width: 500px;
    background-color: var(--floor);
    clip-path: polygon(20% 0%, 80% 0%, 100% 100%, 0% 100%);

}
.bluefloor {
    margin: auto;
    width: 60vw;
    height: 80%;
    max-width: 350px;
    background-color: var(--bluefloor);
    position: relative;
    z-index: -1;
    clip-path: polygon(20% 0%, 80% 0%, 100% 100%, 0% 100%);
}
.corridor::before{
    content: url("data:image/svg+xml,%3Csvg width='100%25' height='100%25' viewBox='0 0 482 182' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xml:space='preserve' xmlns:serif='http://www.serif.com/' style='fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;'%3E%3Cg id='path2987-7' transform='matrix(1,0,0,1,858.464,-587.675)'%3E%3Cpath d='M-425.431,750.412C-427.694,738.087 -428.514,741.288 -425.503,728.896C-422.492,716.504 -417.908,704.017 -417.798,692.193C-417.688,680.37 -422.892,657.999 -430.087,654.181C-437.282,650.362 -437.096,651.506 -443.867,651.093C-450.638,650.68 -453.758,650.947 -457.623,655.346C-461.488,659.744 -464.154,665.599 -465.567,675.041C-466.98,684.483 -465.597,701.783 -463.208,708.161C-460.818,714.539 -459.474,714.998 -462.189,723.101C-464.904,731.204 -477.896,733.026 -482.731,725.955C-487.565,718.883 -487.033,708.067 -484.264,691.242C-481.496,674.418 -482.006,676.65 -482.054,664.048C-482.102,651.446 -481.069,652.617 -483.334,648.209C-485.599,643.801 -493.028,638.513 -500.199,642.522C-507.369,646.531 -511.857,663.851 -512.816,670.622C-513.775,677.393 -513.696,695.096 -512.455,701.58C-511.214,708.064 -511.144,714.414 -513.06,719.128C-514.975,723.841 -517.031,726.507 -520.23,727.728C-523.429,728.95 -526.649,729.123 -530.358,726.831C-534.066,724.539 -538.533,721.993 -539.067,710.002C-539.602,698.012 -535.414,670.181 -537.009,656.375C-538.24,645.669 -540.712,642.066 -546.244,645.751C-550.175,648.352 -553.449,655.131 -551.101,661.784C-548.752,668.437 -548.33,670.192 -548.373,674.806C-548.415,679.42 -549.457,682.845 -552.73,686.365C-556.003,689.885 -560.987,691.316 -565.523,688.233C-570.06,685.151 -572.246,678.285 -569.787,669.913C-567.328,661.542 -559.727,658.298 -568.058,650.686C-576.389,643.075 -582.983,652.372 -583.197,666.335C-583.411,680.299 -582.437,689.308 -579.642,698.866C-576.847,708.424 -575.526,713.519 -575.526,721.544C-575.526,729.57 -580.612,737.692 -588.324,736.823C-596.037,735.953 -601.04,721.069 -603.005,710.62C-604.97,700.171 -604.844,701.801 -605.523,699.365C-606.202,696.93 -606.807,694.331 -607.171,689.802C-608.948,676.771 -602.506,663.851 -602.421,652.723C-602.421,646.155 -601.663,644.216 -605.183,640.418C-608.704,636.619 -624.494,646.519 -628.56,657.473C-632.626,668.428 -632.504,668.408 -632.152,683.35C-631.801,698.292 -630.377,708.464 -627.067,717.839C-623.758,727.213 -623.203,734.302 -623.838,737.562C-624.473,740.822 -624.457,740.693 -625.151,745.91C-625.844,751.127 -629.063,756.682 -631.954,758.26C-635.872,760.246 -640.188,758.588 -642.417,756.436C-644.866,754.045 -647.792,748.025 -649.165,742.522C-650.538,737.018 -650.483,733.979 -650.498,726.505C-650.513,719.031 -650.177,711.713 -649.759,706.782C-649.34,701.851 -648.94,694.948 -648.669,681.679C-648.399,668.411 -649.118,662.491 -652.271,651.902C-655.424,641.312 -655.739,642.251 -659.411,638.451C-663.083,634.651 -665.037,633.566 -667.986,633.568C-670.936,633.57 -676.536,636.543 -679.264,639.424C-681.992,642.304 -684.817,647.584 -687.267,654.956C-689.717,662.328 -689.966,664.314 -686.944,677.735C-683.922,691.156 -683.487,693.974 -685.515,705.236C-687.543,716.498 -692.733,722.022 -700.314,722.022C-707.896,722.022 -712.516,718.699 -714.812,714.198C-717.108,709.698 -718.543,702.071 -718.185,696.92C-717.828,691.769 -716.232,681.286 -715.367,678.652C-714.501,676.018 -712.553,664.047 -712.058,657.945C-711.563,651.843 -712.5,646.948 -715.458,641.727C-718.417,636.507 -720.099,634.609 -722,633.452C-726.845,630.999 -731.492,635.892 -733.606,638.027C-737.454,641.926 -741.192,648.352 -742.6,652.689C-744.008,657.025 -743.578,657.015 -742.934,664.642C-742.29,672.269 -742.179,673.104 -743.122,681.679C-744.065,690.255 -744.728,693.479 -747.299,696.97C-749.87,700.46 -751.257,701.701 -757.02,701.701C-762.784,701.701 -769.485,695.012 -770.697,689.199C-771.909,683.386 -769.315,673.641 -767.608,665.779C-765.901,657.916 -766.632,645.716 -767.933,641.771C-771.904,628.629 -779.759,632.551 -784.079,640.576C-789.251,647.966 -789.57,671.774 -787.567,680.484C-785.564,689.194 -786.923,700.266 -787.989,705.279C-789.054,710.292 -792.184,717.629 -794.996,720.648C-797.809,723.666 -805.625,725.304 -809.672,723.068C-813.72,720.833 -817.787,716.181 -819.42,711.462C-821.053,706.744 -820.847,698.112 -819.146,694.295C-817.444,690.477 -811.562,682.789 -810.708,671.058C-809.853,659.327 -815.548,654.024 -816.155,652.442C-816.763,650.86 -818.624,651.379 -820.704,653.471C-828.309,662.541 -826.401,672.689 -826.545,678.204C-826.952,692.877 -822.671,717.844 -822.44,727.642C-822.209,737.439 -824.093,740.427 -825.905,745.273C-827.716,750.119 -829.34,752.67 -833.481,755.31C-837.621,757.95 -843.682,760.638 -848.017,758.662C-852.353,756.687 -853.099,758.761 -857.072,747.381C-861.045,736 -855.526,713.366 -852.841,705.288C-850.156,697.209 -848.637,694.294 -847.515,686.895C-846.394,679.497 -845.09,666.285 -845.085,648.938C-845.079,631.591 -844.439,632.092 -846.588,627.422C-848.737,622.752 -851.266,612.062 -848.454,607.065C-845.641,602.068 -838.082,597.643 -831.988,595.739C-825.895,593.836 -820.517,594.476 -795.77,594.374C-771.024,594.272 -766.317,594.568 -756.324,593.55C-746.33,592.532 -727.168,593.274 -710.004,590.594C-692.839,587.914 -654.066,587.082 -644.857,588.088C-635.647,589.095 -639.981,588.663 -623.938,589.932C-607.896,591.2 -599.742,591.761 -585.388,593.194C-571.034,594.626 -526.357,596.235 -481.093,597.104C-435.83,597.973 -454.817,597.643 -443.44,596.638C-432.062,595.633 -396.743,595.752 -391.741,596.517C-386.739,597.283 -389.04,596.276 -384.105,597.671C-379.17,599.066 -375.315,605.306 -377.437,611.266C-379.559,617.226 -381.004,620.344 -384.547,624.994C-388.091,629.644 -391.734,642.726 -394.483,664.645C-397.231,686.565 -395.751,724.025 -392.969,736.666C-390.187,749.306 -393.072,758.716 -397.532,762.988C-401.991,767.259 -396.626,765.085 -404.26,768.091C-411.894,771.098 -423.168,762.737 -425.431,750.412L-425.431,750.412Z' style='fill:rgb(168, 3, 3);fill-rule:nonzero;'/%3E%3C/g%3E%3C/svg%3E");
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 30px;
    width: 100%;
    background-color: var(--blood);
    padding-top: 20%;
    animation: bleeding 80s linear infinite;
}
.twins {
    width: 224px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}
.twin {
    position: relative;
    height: 400px;
}
.face {
    position: absolute;
    background-color: var(--skin);
    width: 50px;
    height: 70px;
    border-radius: 50%;
    top: 0;
    left: 20px;
    box-shadow: 
    -8px -2px 0 4px var(--hair),
    -12px 6px 0 2px var(--hair),
    12px 6px 0 2px var(--hair),
    12px -2px 0 2px var(--hair),
    8px -4px 0 6px var(--hair);
    z-index: 50;
}
.face::before{
    content: "";
    position: absolute;
    top: 58px;
    left: -22px;
    width: 36px;
    height: 30px;
    background-color: var(--hair);
    border-radius: 50%;
    box-shadow: 
    60px 0 0 1px var(--hair),
    0 2px 0 1px black,
    60px 2px 0 2px black;
} 
.face::after{
    content: "";
    position: absolute;
    top: 66px;
    left: 14px;
    width: 23px;
    height: 14px;
    background-color: var(--skin);
    border-radius: 0 0 50% 50%;
    border-bottom: 8px solid var(--bluegrady);
}
.accessories {
    position: absolute;
    top: -6px;
    right: -10px;
    width: 40px;
    height: 30px;
    background-color: var(--hair);
    border-radius: 8% 92% 11% 89% / 47% 72% 28% 53%;
}
.accessories::before{
    content: "";
    position: absolute;
    top: 23px;
    right: -4px;
    width: 18px;
    height: 10px;
    background-color: var(--bluegrady);
    border-radius: 85% 15% 84% 16% / 72% 37% 63% 28%;
    transform: rotateZ(-15deg);
    box-shadow: 0 1px 0 1px black;
}
.dress {
    position: absolute;
    top: 80px;
    left: 0;
    background-color: var(--bluegrady);
    width: 90px;
    height: 80px;
    border-radius: 8% 8% 14% 24%;
    position: relative;
    z-index: 40;
}
.dress::before {
    content: "";
    position: absolute;
    top: -5px;
    left: -15px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    box-shadow: 
    -4px 2px 0 black,
    82px 0 0 var(--bluegrady),
    86px 2px 0 black;
    background-color: var(--bluegrady); 
    z-index: 50;
}
.dress::after{
    content: "";
    position: absolute;
    top: 90px;
    left: -4px;
    width: 100px;
    height: 130px;
    background-color: var(--bluegrady);
    border-radius: 14% 14% 47% 53% / 81% 86% 14% 19%;
    box-shadow: 0 2px 0 1px black;
    z-index: 10;
}
.arm {
    position: absolute;
    top: 0px;
    left: -12px;
    width: 18px;
    height: 90px;
    background-color: var(--skin);
    box-shadow: 
    0px 30px 0 1px var(--skin),
    2px 32px 0 1px black,
    -2px 32px 0 1px black,
    2px 2px 0 1px black;
    border-radius: 53%;
    z-index: 40;
}
.arm::before{
    content: "";
    position: absolute;
    top: 115px;
    left: 0px;
    width: 17px;
    height: 38px;
    background-color: var(--skin);
    border-radius: 79% 21% 60% 40% / 34% 73% 27% 66%;
    box-shadow: 
    2px 2px 0 1px black,
    -2px 2px 0 1px black;
}
.arm2 {
    left: 88px;
}
.twin1 .arm2 {
    transform: rotate(-10deg);
}
.twin2 .arm1 {
    transform: rotate(10deg);
    box-shadow:   
    0px 30px 0 1px var(--skin),
    -2px 32px 0 1px black,
    2px 2px 0 1px black,
    2px 2px 0 1px black;
}
.twin2 .arm1::before{
    box-shadow: -2px 2px 0 1px black;
}
.belt{
    content: "";
    position: absolute;
    top: 78px;
    left: 6px;
    width: 78px;
    height: 12px;
    background-color: white;
    z-index: 50;
}
.belt::before{
    content: "";
    position: absolute;
    top: -5px;
    left: 32px;
    width: 20px;
    height: 10px;
    border-radius: 46% 54% 64% 36% / 71% 56% 44% 29%;
    box-shadow: 0 12px 0 white;
    background-color: white;
    z-index: 50;
}
.belt::after {
    content: "";
    position: absolute;
    top: 0px;
    left: 4px;
    width: 100%;
    height: 100px;
    background-color: white;
    clip-path: polygon(40% 0, 22% 78%, 30% 87%, 45% 8%, 43% 100%, 57% 96%, 50% 0);
    z-index: 50;
}
.leg {
    position: absolute;
    top: 208px;
    left: 18px;
    width: 28px;
    height: 90px;
    background-color: var(--skin);
    clip-path: polygon(0 0, 100% 1%, 80% 100%, 10% 100%);
    z-index: 1;
}
.twin1 .leg2,
.twin2 .leg2 {
    left: 50px;
}

.leg::before{
    content: "";
    position: absolute;
    top: 30px;
    left: 0;
    width: 28px;
    height: 56px;
    background-color: white;
    box-shadow: 
    36px 0 0 1px white;
    border-bottom: 3px solid black;
}

.shoe{
    position: absolute;
    top: 294px;
    width: 26px;
    height: 40px;
    border-radius: 10% 10% 50% 50%;
    background-color: black;
    clip-path: polygon(15% 0%, 0% 50%, 4% 69%, 13% 82%, 29% 95%, 51% 100%, 72% 96%, 85% 85%, 93% 70%, 98% 51%, 82% 0%);
}

.shoe1{
    left: 14px;
    transform: rotate(12deg);
}
.shoe2{
    left: 52px;
    transform: rotate(-10deg);
}
.shoe::before{
    content: "";
    position: absolute;
    top: 2px;
    left: 3px;
    height: 20px;
    width: 18px;
    background-color: white;
    border-radius: 1% 1% 40% 40%;
    z-index: 50;
}


@keyframes bleeding {
    0% {
        padding-top: 8%;
    }
    20% {
        padding-top: 20%;
    }
    40% {
        padding-top: 40%;
    }
    60% {
        padding-top: 60%;
    }
    80% {
        padding-top: 80%;
    }
    90% {
        padding-top: 90%;
    }
    100% {
        padding-top: 100%;
    }
    
}